[Desktop Entry]
Name=Piper
GenericName=Gaming Mouse Configuration
Comment=Configure gaming mice
Icon=org.freedesktop.Piper
Exec=hyprctl dispatch exec '[workspace special:stash; tile] piper'
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;GTK;
Keywords=gaming;mouse;configuration;
